* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chamada background Animado */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);



body {
  background-color:	#1E90FF;
  background-size: auto 100vh;
  height: 100vh;
}

@media (min-width: 300px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

a{
  text-decoration: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: 	white;
  display: block;
  padding: 0.7em;
  text-decoration: none;
  transition: background-color 0.5s, color 1s;
}

.menu a:active,
.menu a:hover{
  background-color: white;
  color: black;
}

.main{
  text-align: center;
}

.fotoprincipal{
  width: 350px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;

  transform: scale(0.2);
  opacity: 0;

  animation: linear 0.9s animacaologo forwards;
}

@keyframes animacaologo{
  100%{
    transform: scale(1);
    opacity:1;
  }
}

.site-title {
  color: black;
  text-align: center;
  font-style: inherit;
  font-size: 3em;
  transition: color 0.5s;
}

.site-title:active,
.site-title:hover{
  color: white;
}

.divsobre{
  border: 1px solid black;
}

.site-subtitle {
  color: black;
  font-style: inherit;
  font-weight: lighter;
  text-align: center;
  font-size: 1em;
  font-family: 'Patua One', cursive;
}

.img-portfolio {
  height:160px;
  width: 160px;

  background-color: white;

  object-position: left bottom;
  object-fit: cover;
  border: 2px solid black;

  transition: transform 500ms;
}

.img-portfolio:active,
.img-portfolio:hover{
  transform: scale(1.2);
}

footer{
    padding: 1rem 0 1rem;
    text-align: center;
    font-size: 1rem;
    background-color: black;
    color: white;;
}

.contato .grid-itens,
.participacoes .grid{
  display: grid;
  grid-template-columns: 180px;
  height: calc(100vh - 80px);
  overflow: hidden;
  justify-content: center;
}


@media (min-width: 400px){
  .contato .grid-itens,
  .participacoes .grid{
    align-content: center;
    grid-template-columns: 180px 180px;
    justify-content: center;
    padding: 23px;
  }
}


figure{
  display: block;
  text-align: center;
  padding: 10px;
  height: 180px;
}

figcaption{
  font-size: 1.5em;
  color: black;
  padding: 1px;
  text-align: center;
}

.sobre,
.participacoes{
  padding: 10px;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

.contato{
  padding: 10px;
  min-height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px){
  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.sobre h2,
.contato h2,
.participacoes h2{
  font-size: 1em;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 1px;
  padding-inline-start: 10px;
  text-align: center;
}

.grid{
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 23px;
}

.grid-icons{
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 23px;
}

.contato a{
  color: white;
  font-size: 5em;
  padding: 5px;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
}

.contato .grid-icons{
  text-align: center;
  padding: 23px;
}

footer a{
  color: white;
}

.icontopo{
  justify-content: center;
  height: 180px;
  width: 180px;
}

Section{
  padding: 4em 2em;

}

.sobre p {
  padding: 0.5em;
  color: black;
  text-indent: 2em;
  text-align: justify;
  margin-bottom: 0.1px ;
}

.div-sobre{
  border: 1px solid black;
}

footer{
  border: 1px solid black;
}

footer .textofooter{
  background-color: black;
}

/*.section{
  padding: 4em 2em;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}*/


/* Teste Background Animado */

.wrapper {
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  animation: animation 100s linear infinite;
}

@keyframes animation {
   100%{
    background-position:0px -3000px;
  }
}
