* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:	#1E90FF;
  background-size: auto 100vh;
  height: 100vh;
}

@media (min-width: 300px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: 	white;
  display: block;
  padding: 0.7em;
  text-decoration: none;
}

.main{
  text-align: center;
}

.fotoprincipal{
  width: 350px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.site-title {
  color: black;
  text-align: center;
  font-style: inherit;
  font-size: 3em;
}

.site-subtitle {
  color: black;
  font-style: inherit;
  font-weight: lighter;
  text-align: center;
  font-size: 1em;
  font-family: 'Patua One', cursive;
}

.img-portfolio {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
  object-position: center;
  border: 2px solid black;

  -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.img-portfolio:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

footer{
    padding: 1rem 0 1rem;
    text-align: center;
    font-size: 1rem;
    background-color: black;
    color: white;;
}

.eventosqjp .grid{
  display: grid;
  gap: 2em;
  grid-template-columns: 180px;
  height: calc(100vh - 200px);
  overflow: hidden;
  justify-content: center;
}

@media (min-width: 400px){
  .eventosqjp .grid{
    align-content: center;
    grid-template-columns: 180px 180px;
    justify-content: center;
  }
}


figure{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  object-position: center;
  height: 180px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  
}

figcaption{
  display: block;
  font-size: 1.5em;
  color: black;
  padding: 1px;
  text-align: center;
}

.eventosqjp .grid{
  display: grid;
  justify-content: center;
}

.eventosqjp{
  padding: 10px;
  height: 100vh;
}

.eventosqjp h2{
  font-size: 1em;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 1px;
  padding-inline-start: 10px;
  text-align: center;
}

.grid{
  flex-wrap: wrap;
  border: 1px solid black;
}
